.app {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex: 1;
    overflow: auto;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 480px) {
  .app { max-width: 100%; margin: 0; border-radius: 0; height: 100vh; }
}
.back-btn { background: #075E54; color: #fff; border: none; padding: 10px 14px; cursor: pointer; font-size: 14px; }