version: '3.9'

services:
 server:
   build:
     context: ./server
   container_name: chat-server
   ports:
     - "4000:4000"
   command: sh -c "npx prisma migrate deploy && npx prisma db seed && npm run dev"
   env_file:
     - .env
   depends_on:
     db:
       condition: service_healthy
     redis:
       condition: service_healthy

 client:
    build:
      context: ./client
    container_name: chat-client
    ports:
      - "5173:5173"

    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0 --port 5173

    environment:
      - VITE_API_URL=http://localhost:4000

 db:
    image: postgres:16-alpine
    container_name: chat-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

 redis:
    image: redis:7-alpine
    container_name: chat-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data: